/*universal*/
*{
    background: #FAFAFA;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 95vh;
    margin: center;
    overflow: hidden;
}

/* caculator.html */
.container{
    width: 290px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #A0A0A0;
    padding: 22px 16px;
}

.container #title{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 1px 5px #DADADA;
}

#title span{
    color: orangered;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px #2A2A2A;
}

#title p{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid #2A2A2A;
    background: orangered;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title a p{
    -webkit-user-select: none;
    cursor: none;
}

.container #display-container{
    width: 245px;
    padding: 10px 14px 5px 0px;
    margin: 10px auto 25px auto;
    border-left: 15px solid orangered;
    border-radius: 5px;
    box-shadow: inset 0px 0px 12px #AFAFAF;
    text-align: right;
    overflow: scroll;
}

.container #display-container #display{
    display: inline-block;
    overflow: scroll;
    font-size: 32px;
    background: transparent;
}

.container #keys-container{
    width: 290px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}

.container #keys-container .keys{
    border-radius: 10px;
    padding: 12px 8px;
    margin: 5px;
    text-align: center;
    text-shadow: 0px 0px 2px #0F0F0F;
    font-size: 20px;
    color: #DEDEDE;
    background: #2A2A2A;
    box-shadow: inset 0px 0px 10px #8A8A8A;
    cursor: pointer;
}

.container #keys-container .keys:hover{
    color: #DADADA;
    background: #333333;
    box-shadow: inset 0px 0px 10px #999999;
}

.container #keys-container .keys:nth-child(1),
.container #keys-container .keys:nth-child(2),
.container #keys-container .keys:nth-child(3),
.container #keys-container .keys:nth-child(8),
.container #keys-container .keys:nth-child(12),
.container #keys-container .keys:nth-child(16),
.container #keys-container .keys:nth-child(20){
    background: orangered;
    box-shadow: inset 0px 0px 12px darkorange;
}

#footer{
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#footer p{
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 2px;
}

#footer p:nth-child(1){
    text-align: right;
    flex: 1;
}

#footer p:nth-child(3){
    text-align: left;
    flex: 1;
}

#footer span{
    color: orangered;
    font-weight: 600;
}

.fa{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

#space{
    width: 96%;
    height: 35px;
}
