*{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: fantasy;
  border: 0.px solid blue;
  text-decoration: none;
  color: #fafafa;
}

body{
  background: #17242a;
  overflow: hidden;
  width: 100vw;
}

.container{
  display: block;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.icon{
    padding: 10px 15px;
}

input{
    outline: none;
    background: transparent;
}

.sheet-1 .header ,
.sheet-1 .acc-info ,
.sheet-1 .music-info ,
.sheet-1 .acc-info #edit-user-info,
.sheet-1 .music-head ,
.sheet-1 .categories .category ,
.sheet-1 .recent .recent-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.sheet-1 .header ,
#menu .menu-head{
    width: 100%;
    padding: 3px 0;
    position: fixed;
    top: 0;
    background: #17242a;
    box-shadow: 0px 0px 1px #233;
}

.sheet-1 .photo-search{
    border: 1px solid #233;
    border-radius: 20px;
    padding: 8px 14px;
    flex: 0.9;
}

.sheet-1 .group-name{
    margin: 5px auto 0px 10px;
    padding: 0px;
}

.sheet-1 .header h2{
    text-align: center;
}

.sheet-1 .header h2 ,
.sheet-1 .recent .recent-head h3{
    flex: 1;
    padding: 0 8px;
}

.sheet-1 .header .a{
    font-size: 26px;
}

.sheet-1 .acc-info ,
.sheet-1 .music-info{
    margin: 10px auto;
    padding: 10px 0 24px 0;
    border-bottom: 1px solid #233;
}

.sheet-1 .acc-info .profile-img-border ,
.sheet-1 .music-info .music-img-border{
    margin-left: 10px;
}

.sheet-1 .acc-info .profile-img-border img ,
.sheet-1 .music-info .music-img-border img{
    width: 55px;
    height: 55px;
    border: 2px solid;
    border-radius: 50%;
}

.sheet-1 .acc-info #user-info ,
.sheet-1 .music-info #music-info{
    flex: 1;
}

.sheet-1 .acc-info #user-info .user-info ,
.sheet-1 .music-info #music-info .music-info{
    margin: 5px 0;
    padding: 0 10px;
}

.sheet-1 .acc-info #user-info #user-name ,
.sheet-1 .music-info #music-info #music-name{
    font-size: 18px;
}

.sheet-1 .acc-info #user-info #user-email ,
.sheet-1 .music-info #music-info #artist{
    font-size: 14px;
}

.sheet-1 .acc-info #edit-user-info ,
.sheet-1 .music-info #play-music{
    font-size: 14px;
    padding: 0;
    margin-right: 10px;
    border-radius: 20px;
    background: orangered;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sheet-1 .acc-info #edit-user-info .i,
.sheet-1 .music-info #play-music .i{
    padding: 9px 10px;
}

.sheet-1 .acc-info #edit-user-info p,
.sheet-1 .music-info #play-music p{
    margin-right: 10px;
}

.sheet-1 .music-head{
    font-size: 18px;
    margin: auto;
    padding-top: 5px;
    position: fixed;
    top: 50px;
    width: 100vw;
    background: #17242a;
}

.sheet-1 .music-head h5{
    margin-right: 15px;
}

.sheet-1 .categories{
    padding: 0 5px;
    border-bottom: 1px solid #233;
}

.sheet-1 .categories .category{
    margin: 16px 0;
}

.sheet-1 .categories .category i{
    font-size: 20px;
}

.sheet-1 .categories .category .category-name{
    flex: 1;
    margin-left: 5px;
}

.sheet-1 .categories .category .input{
    margin-right: 10px;
    width: 54px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 0px;
    background: transparent;
}

.sheet-1 .categories .category .type-text{
    padding: 6px 0px;
    text-align: center;
    font-size: 8px;
}

.sheet-1 .recent{
    padding-bottom: 26px;
    margin-top: 15px;
}

.sheet-1 .recent .recent-head i ,
.sheet-1 .recent .recent-head a{
    font-size: 22px;
}

.sheet-1 .recent .recent-body{
    width: 100vw;
    height: auto;
    margin: 0;
    overflow: scroll;
}

.sheet-1 .recent .recent-body .recent-scroll{
    width: auto;
    height:auto;
    display: flex;
}

.sheet-1 .recent .recent-body .recent-item{
    margin: 4px;
    margin-left: 10px;
}

.sheet-1 .recent .recent-body .recent-item .recent-video{
    width: 150px;
    height: 100px;
    border: 1px solid;
    background: url("../img/profile.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

.sheet-1 .recent .recent-body .recent-item .recent-caption{
    padding: 2px;
    font-size: 14px;
}

.space{
    margin: 20px auto 0 auto;
    padding: 10px 0 16px 0;
}

#menu-categories{
    border: none;
}

