*{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: fantasy;
  border: 0.px solid blue;
  text-decoration: none;
  color: #fafafa;
  -webkit-user-select: none;
}

body{
  background: #17242a;
  overflow: hidden;
  width: 100vw;
  color: #fafafa;
}

.container{
  display: block;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.space{
    margin: 56px auto 0 auto;
}

.icon{
    padding: 10px 15px;
    color: #fafafa;
}

input{
    outline: none;
    background: transparent;
}

a{
    cursor: none;
}

.flex ,
.sheet-1 .categories .category ,
.sheet-1 .recent .recent-head ,
.sheet-1 .music-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.log-head{
    text-align: center;
    text-shadow: 0px 0px 5px #111;
    color: #eaeaea;
    font-style: italic;
    font-size: 28px;
    font-weight: 600px;
    justify-content: center;
    width: 85vw;
    height: 22vh;
    margin: -4vh auto;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 0px 0px 120px 120px;
    background: #133;
    animation: changeColor 4s infinite;
}

.log-box,
.log-help{
    border: 2px solid;
    border-radius: 25px;
    position: relative;
    top: 10vh;
    background: #133;
    padding: 30px 20px 20px 20px;
    width: 68vw;
    height: 52vh;
    margin: 0 11vw;
    text-align: center;
    animation: changeColor 5s infinite;
    overflow-y: scroll;
}

.input-container input{
    border: none;
    border-bottom: 1px solid red;
    width: 200px;
    margin: 15px auto;
    padding: 10px 1px;
    font-size: 16px;
    letter-spacing: 1px;
}

input:valid{
    border-bottom: 1px solid #17fa2a;
    transition: 0.2s ease-out;
}

input:valid~label{
    color: #1ffa5a;
    transition: 0.2s ease-out;
}

input:focus{
    border-bottom: 1px solid deepskyblue;
    transition: 0.5s;
}

input:focus~label{
    font-size: 13.2px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.input-container input[type="submit"]{
    border: none;
    border-radius: 20px;
    padding: 14px;
    width: 210px;
    background: #17242a;
    color: #ccc;
    letter-spacing: 2px;
    font-size: 13px;
}

.input-container input[type="submit"]:hover{
    letter-spacing: 2.5px;
    color: deepskyblue;
}

.input-container label{
    text-align: left;
    font-size: 13px;
    padding: 0 5px;
    background: transparent;
    letter-spacing: 1px;
    position: absolute;
    left: 35px;
    float: left;
    color: #ccc;
}

.log-help{
    display: none;
}

.home{
    display: none;
}

.sheet-1 .header ,
#menu .menu-head ,
.play-music{
    width: 100%;
    padding: 3px 0;
    position: fixed;
    top: 0;
    background: #17242a;
    box-shadow: 0px 0px 2px #233;
}

.sheet-1 .group-name{
    margin: 10px auto 0px 10px;
    padding: 0px;
}

.sheet-1 .header h2{
    text-align: center;
}

.sheet-1 .header h2 ,
.sheet-1 .recent .recent-head h3{
    flex: 1;
    padding: 0 8px;
}

.sheet-1 .header .a{
    font-size: 26px;
}

.sheet-1 .acc-info ,
.sheet-1 .music-info{
    margin: 10px auto;
    padding: 10px 0 18px 0;
    border-bottom: 1px solid #233;
}

.sheet-1 .acc-info .profile-img-border ,
.sheet-1 .music-info .music-img-border{
    margin-left: 10px;
}

.sheet-1 .acc-info .profile-img-border img ,
.sheet-1 .music-info .music-img-border img{
    width: 65px;
    height: 65px;
    border: 3px solid #233;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.sheet-1 .acc-info #user-info ,
.sheet-1 .music-info #music-info{
    flex: 1;
}

.sheet-1 .acc-info #user-info .user-info ,
.sheet-1 .music-info #music-info .music-info{
    margin: 5px 0;
    padding: 0 10px;
}

.sheet-1 .acc-info #user-info #user-name ,
.sheet-1 .music-info #music-info #music-name{
    font-size: 18px;
}

.sheet-1 .acc-info #user-info #user-email ,
.sheet-1 .music-info #music-info #artist{
    font-size: 14px;
}

.sheet-1 .acc-info #edit-user-info ,
.sheet-1 .music-info #play-music{
    font-size: 14px;
    padding: 0;
    margin-right: 10px;
    border-radius: 20px;
    background: orangered;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sheet-1 .acc-info #edit-user-info .i,
.sheet-1 .music-info #play-music .i{
    padding: 9px 10px;
}

.sheet-1 .acc-info #edit-user-info p,
.sheet-1 .music-info #play-music p{
    margin-right: 10px;
}

.sheet-1 .music-head
.sheet-1 .search{
    font-size: 18px;
    margin: auto;
    padding-top: 5px;
    position: fixed;
    top: 50px;
    width: 100vw;
    background: #17242a;
}

.sheet-1 .music-head h5{
    margin-right: 15px;
}

.sheet-1 .categories{
    padding: 0 5px;
    border-bottom: 1px solid #233;
}

.sheet-1 .categories .category{
    margin: 16px 0;
}

.sheet-1 .categories .category i{
    font-size: 20px;
}

.sheet-1 .categories .category .category-name{
    flex: 1;
    margin-left: 5px;
}

.sheet-1 .categories .category .input{
    margin-right: 10px;
    width: 54px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 0px;
    background: transparent;
}

.sheet-1 .categories .category .type-text{
    padding: 6px 0px;
    text-align: center;
    font-size: 8px;
}

.sheet-1 .recent{
    padding-bottom: 26px;
    margin-top: 15px;
}

.sheet-1 .recent .recent-head i ,
.sheet-1 .recent .recent-head a{
    font-size: 22px;
}

.sheet-1 .recent .recent-body{
    width: 100vw;
    height: auto;
    margin: 0;
    overflow: scroll;
}

.sheet-1 .recent .recent-body .recent-scroll{
    width: auto;
    height:auto;
}

.sheet-1 .recent .recent-body .recent-item{
    margin: 4px;
    padding: 5px;
    border: 1px solid #133;
    border-radius: 10px;
}

.sheet-1 .recent .recent-body .recent-item video{
    width: 170px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #133;
}

.sheet-1 .recent .recent-body .recent-item .recent-caption{
    padding: 2px;
    font-size: 14px;
}

.sheet-1 .search-bar{
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px #233;
    padding: 10px 18px;
    margin: 6px 10px;
    margin-right: 0px;
    flex: 1;
}

.trending-web{
    width: 94vw;
    margin: 10px 3vw;
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #133;
}

.trending-web .web-type{
    font-size: 18px;
    margin: 20px 2vw 0 2vw;
    width: 96vw;
}

.trending-web .website{
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

.trending-web .website .web-icon img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.popular-web-head{
    margin: 8px auto 14px 15px;
    font-size: 1.1em;
}

.popular-websites{
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px auto;
}

.popular-websites .popular-web{
    width: 100px;
    text-align: center;
    margin: 10px;
}

.popular-websites .popular-web i{
    font-size: 28px;
    width: 30px;
    padding: 14px;
    border-radius: 50%;
}

.popular-web:nth-child(1) i {
    background: #05f;
    box-shadow: 0px 0px 2px #05f;
}
.popular-web:nth-child(2) i {
    background: red;
    box-shadow: 0px 0px 2px red;
}
.popular-web:nth-child(3) i {
    background: radial-gradient(circle at 10% -10%,blue,#c0c,orangered,#d11,orange,gold);
    box-shadow: 0px 0px 2px orangered;
}
.popular-web:nth-child(4) i {
    background: #0f0f0f;
    box-shadow: 0px 0px 2px #0f0f0f;
}
.popular-web:nth-child(5) i {
    background: #49d426;
    box-shadow: 0px 0px 2px #49d426;
}
.popular-web:nth-child(6) i {
    background: #24beff;
    box-shadow: 0px 0px 2px #24beff;
}
.popular-web:nth-child(7) i {
    background: #111;
    box-shadow: 0px 0px 2px #111;
}
.popular-web:nth-child(8) i {
    background: linear-gradient(to right bottom,#3b7dff 50%,gold 50%);
    box-shadow: 0px 0px 2px #3b7dff;
}
.popular-web:nth-child(9) i {
    background: aqua;
    box-shadow: 0px 0px 2px aqua;
    color: #FF8400cc;
}

.popular-websites .popular-web p{
    font-size: 14px;
    margin-top: 5px;
}

.members{
    padding: 3px;
}

.members .member{
    margin: 5px auto;
    padding: 0px 3px 10px 3px;
    border-bottom: 1px solid;
}

.members .member .img{
    width: 100px;
    height: 110px;
    border-radius: 5px;
    border: 1px solid #133;
}

.members .member .info{
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.members .member .info h{
    font-size: 16px;
}

.members .member .info p{
    font-size: 14px;
    padding-top: 8px;
}

.members .member .content{
    flex-direction: column;
    padding: 0 3px;
}

.members .member .content a{
    padding: 6px;
    font-size: 15px;
    border-radius: 50%;
    margin: 4px auto;
}

.members .member .content a:nth-child(1){
    background: #15f;
}

.members .member .content a:nth-child(2){
    background: #3eff4f;
}

.members .member .content a:nth-child(3){
    background: orangered;
}

.members .footer{
    text-align: center;
    padding: 5px;
}

.imgs-body{
    width: 100vw;
}

.imgs-body .imgs-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgs-body .imgs-container img{
    width: 165px;
    height: 210px;
    margin-top: 15px;
    border: 1px solid #133;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #133;
}

#animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    position: fixed;
    top: -100%;
    right: 0;
    animation: animation 8s;
}

@keyframes animation{
    0%{
        background: #122;
        top: 0;
    }
    94%{
        top: 0;
        right: 0;
        font-size: 22px;
    }
    100%{
        background: #17242a;
        top: -100%;
        right: -100%;
        font-size: 16px;
    }
}

@keyframes changeColor{
    0%{
        border-color: deepskyblue;
    }
    32%{
        border-color: #17fa24;
    }
    64%{
        border-color: #fa242a;
    }
    96%{
        border-color: deepskyblue;
    }
    100%{
        border-color: transparent;
    }
}

@media only screen and (min-height:600px){
    .log-box,
    .log-help{
        height: 46vh;
    }
    
    .input-container input[type="submit"]{
        padding: 14px;
    }
}

@media only screen and (min-width:600px){
    .imgs-body .imgs-container img:nth-child(3n) {
        width: 340px;
        height: 420px;
    }
    
    .log-head{
        height: 140px;
        width: 90vw;
        border-radius: 0px 0px 300px 300px;
    }
    
    .log-box{
        width: 240px;
        height: 270px;
        margin: 16px 0 16px 4vw;
        overflow: hidden;
        display: block;
        float: left;
        animation-duration: 3s;
    }
    
    .log-help{
        display: block;
        width: 240px;
        height: 270px;
        margin: 16px 0 16px 1vw;
        float: left;
        text-align: left;
        animation-duration: 2s;
    }
    
    .log-help ul .log-li{
        display: flex;
        padding: 10px 3px;
    }
    
    .log-help ul .log-li li{
        position: relative;
        top: 0;
        padding-right: 5px;
    }
    
    .log-help ul p{
        flex: 1;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media only screen and (min-width:980px){
    .imgs-body .imgs-container img:nth-child(4n) {
        width: 340px;
        height: 420px;
    }
    
    .log-box{
        margin: 16px 5vw 16px 5vw;
    }
    
    .log-help{
        width: auto;
        height: auto;
        float: right;
        margin: 16px 5vw 16px 0;
    }
}